* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 600px;
    height: 600px;
    background-color: bisque;
    margin: 0 auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* .container h1{
    text-align: center;
    text-shadow: 1px 1px 1px red;
    opacity: 0.6;
} */

.box {
    width: 200px;
    height: 200px;
    background-color: green;
    position: sticky;
    top: 10px;
    left: 20px;
    /* overflow: scroll; */
}

/* 
position::
1.static
2.relative
3.absolute
4.fixed
5.sticky

*/