* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.box {
    width: 400px;
    height: 400px;
    background-color: blue;
    margin: 0 auto;
    transform: rotate(-80deg);
    /* transform-origin: bottom; */
    /* transform: translateX(50px); */
    /* transform: scaleX(1.2);
    transform: scaley(1.2);
    transform: skewX(45deg); */
    transition-duration: 1s;
    transition-property: all;
    transition-delay: 2s    ;
}
.box:hover{
border-radius: 50px;

}

/* 
tagNomi:psedo_klass_nomi{
hover
active
animation
*/