

.img{
    width: 40px;
    height: 40px;
}
.box-container{
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    justify-content: space-around;
    background-color: red;
    padding: 10px;
    gap: 15px;
}

.box{
    width: 350px;
    color: white;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(11, 202, 97);
    padding: 20px 15px 35px 15px;
    box-sizing: border-box;
}

.box-1{
    background-color: blueviolet;
}

.img{
    width: 40px;
    height: 40px;
}